%h1 Статистика упражнения
%h2= @excercise.name

.statistic
  = "Количество подходов: #{@sets.count}"

  %table.table.table-hover.table-condensed
    %thead
      %tr
        %td Дата
        %td Вес
        %td Повторения
        %td Время
    %tbody
      - @sets.each_with_index do |set, i|
        - prev_set = @sets[i-1] unless i == 0
        - first_excercise_show = !prev_set || prev_set.workout.date != set.workout.date
        - if first_excercise_show
          %tr{:class => ("info" if first_excercise_show)}
            - if first_excercise_show
              %td= link_to set.workout.date.strftime("%d %B %Y"), workout_workout_sets_path(set.workout)
            - else
              %td
            %td
            %td
            %td
        %tr
          - if set.id
            %td
            %td{:class => ("success" if set.has_max_weight)}= set.weight
            %td{:class => ("success" if set.has_max_reps)}= set.reps
            %td{:class => ("success" if set.has_min_time)}= time_from_duration set

  %h3 Максимальный вес
  = line_chart @max_weights
  %h3 Тренировочный объем (сумма повторений * вес)
  = line_chart @volume
  %h3 Тренировочный объем для максимальных весов (сумма повторений * вес)
  = line_chart @volume_on_max_weight
