.links
  = link_to 'Статистика тренировки', workout_statistic_path(@workout)
%br
#sets
  %table.table.table-hover.table-condensed
    %thead
      %tr
        %td Упражнение
        %td Вес
        %td Повторения
        %td Время
        %td Удалить
    %tbody
      - @sets.each_with_index do |set, i|
        - prev_set = @sets[i-1] unless i == 0
        - first_excercise_show = !prev_set || prev_set.excercise.id != set.excercise.id
        %tr{:class => ("info" if first_excercise_show)}
          - if set.id
            %td= first_excercise_show ? set.excercise.name : ""
            %td= set.weight
            %td= set.reps
            %td= time_from_duration set
            %td= link_to 'Удалить', workout_workout_set_path(@workout, set), method: :delete, data: { confirm: 'Вы уверены?' }

#new_set
  = render 'form', set: @set, workout: @workout
