.links
  = link_to 'Статистика тренировки', workout_statistic_path(@workout)
%br
#sets
  - @sets.each do |set|
    #set
      - if set.id
        = set.excercise.name
        = set.weight
        = set.reps
        = time_from_duration set
        .pull-right
          = link_to 'Удалить', workout_workout_set_path(@workout, set), method: :delete, data: { confirm: 'Вы уверены?' }

#new_set
  = render 'form', set: @set, workout: @workout
